@import "tailwindcss";
@import "./theme.css";

* {
  transition: none !important;
}

@layer base {
  :root {
    @apply text-gray-900 bg-white font-sans;
  }

  :root.dark {
    @apply text-gray-100 bg-gray-900;
  }

  body {
    @apply min-w-[320px] min-h-screen m-0 p-0;
  }

  #root {
    @apply min-h-screen;
  }

  button,
  a,
  label {
    @apply cursor-pointer;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
